<!DOCTYPE html>
<html>
<head>
    <title> Create a Debate</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Lets Debate</h1>
            <p class="lead text-muted"> - One stop to debate with anyone</p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8 main">
                <span>
                    <a href="/login">
                        <button type="button" class="btn btn-primary btn-lg" name="login" id="btn_login"> Login </button>
                    </a>
                </span>
                <span>
                    <a href="/signup">
                        <button type="button" class="btn btn-primary btn-lg" name="signup" id="btn_signup"> Sign Up </button>
                    </a>
                </span>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
    </div>
</body>
</html>
