<!DOCTYPE html>
<html>
<head>
    <title> Create a Debate</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Lets Debate</h1>
            <p class="lead text-muted"> - One stop to debate with anyone</p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead text-muted text-primary"> Success! You're logged in! </p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 main">
                <span>
                    <a href="/">
                        <button type="button" class="btn btn-primary btn-lg" name="home" id="btn_home" style="width:30%;"> Home </button>
                    </a>
                </span>
                <span>
                    <a href="/create_debate">
                        <button type="button" class="btn btn-primary btn-lg" name="create_debate" id="btn_create_debate" style="width:30%;"> Create Debate </button>
                    </a>
                </span>
                <span>
                    <a href="/logout">
                        <button type="button" class="btn btn-primary btn-lg" name="logout" id="btn_logout" style="width:30%;"> Log Out </button>
                    </a>
                </span>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
